<a href="https://colab.research.google.com/github/asilbek-data-scientist/1_Modul/blob/main/2_modul_Pandas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from pandas import Series  # series ma'lumotlar tuzilmalari

In [ ]:
obj = Series([4, 5, 6, 6.5])
print(obj)

0    4.0
1    5.0
2    6.0
3    6.5
dtype: float64

In [ ]:
type(obj)

pandas.core.series.Series

In [ ]:
obj[1]

5.0

In [ ]:
obj2 = Series([3, 5, 6,7], index=['a', 'b', 1, 'c'])
obj2

a    3
b    5
1    6
c    7
dtype: int64

In [ ]:
obj2['a']

3

In [ ]:
obj2[['a', 'c']]

a    3
c    7
dtype: int64

In [ ]:
obj2['a':'c']

a    3
b    5
1    6
c    7
dtype: int64

In [ ]:
obj2[obj2>5]

1    6
c    7
dtype: int64

In [ ]:
obj2*2

a     6
b    10
1    12
c    14
dtype: int64

In [ ]:
np.exp(obj2)

a      20.085537
b     148.413159
1     403.428793
c    1096.633158
dtype: float64

In [ ]:
cars_dict = {'Malibu':4000, 'Lacetti':20000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000}
cars1 = Series(cars_dict)

In [ ]:
cars1

Malibu      4000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [ ]:
cars2 = Series({'Malibu':4000, 'Lacetti':20000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000})
cars2

Malibu      4000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [ ]:
cars2['Malibu']

4000

In [ ]:
'Malibu' in cars2

True

In [ ]:
'Nexia' in cars2

False

In [ ]:
cars_dict

{'Malibu': 4000,
 'Lacetti': 20000,
 'Toyota': 45000,
 'Mazda': 52000,
 'Honda': 38000}

In [ ]:
models_2 = ['Honda', 'Mazda', 'Lacetti', "Jaguar", 'Malibu', 'Toyota', 'BMW', "MERS"]

In [ ]:
models = Series(cars_dict, index=models_2)
models

Honda      38000.0
Mazda      52000.0
Lacetti    20000.0
Jaguar         NaN
Malibu      4000.0
Toyota     45000.0
BMW            NaN
MERS           NaN
dtype: float64

In [ ]:
models.isnull() # Nan elementlarni True qaytaradi.

Honda      False
Mazda      False
Lacetti    False
Jaguar      True
Malibu     False
Toyota     False
BMW         True
MERS        True
dtype: bool

In [ ]:
models.notnull() # Nan bo'lmagan elementlarni True qaytaradi.

Honda       True
Mazda       True
Lacetti     True
Jaguar     False
Malibu      True
Toyota      True
BMW        False
MERS       False
dtype: bool

In [ ]:
cars2

Malibu      4000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [ ]:
models

Honda      38000.0
Mazda      52000.0
Lacetti    20000.0
Jaguar         NaN
Malibu      4000.0
Toyota     45000.0
BMW            NaN
MERS           NaN
dtype: float64

In [ ]:
cars2 + models # mos indexlar bo'yicha qo'shib allfabit bo'yicha teradi.

BMW             NaN
Honda       76000.0
Jaguar          NaN
Lacetti     40000.0
MERS            NaN
Malibu       8000.0
Mazda      104000.0
Toyota      90000.0
dtype: float64

In [ ]:
cars2.name = "Avtosalon"

In [ ]:
cars2.index.name = "Modellar"
cars2

Modellar
Malibu      4000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
Name: Avtosalon, dtype: int64

In [ ]:
import pandas as pd

In [ ]:
data = {
    "Yil":[2021,2020,2019,2018,2017,2016,2015,2010],
    'Aholi soni':[33.9,33.5,32.9,32.5,31.9,31.4,30.9,28.5],
    "Temp":[1.54,1.48,1.56,1.62,1.65,1.66,1.64,1.53]
}
data1 = pd.DataFrame(data)
data1

    Yil  Aholi soni  Temp
0  2021        33.9  1.54
1  2020        33.5  1.48
2  2019        32.9  1.56
3  2018        32.5  1.62
4  2017        31.9  1.65
5  2016        31.4  1.66
6  2015        30.9  1.64
7  2010        28.5  1.53

In [ ]:
data1.index.name = "Tartibi"

In [ ]:
data1

          Yil  Aholi soni  Temp
Tartibi
0        2021        33.9  1.54
1        2020        33.5  1.48
2        2019        32.9  1.56
3        2018        32.5  1.62
4        2017        31.9  1.65
5        2016        31.4  1.66
6        2015        30.9  1.64
7        2010        28.5  1.53

In [ ]:
data1.head(3)

          Yil  Aholi soni  Temp
Tartibi
0        2021        33.9  1.54
1        2020        33.5  1.48
2        2019        32.9  1.56

In [ ]:
data1.shape

(8, 3)

In [ ]:
data1

          Yil  Aholi soni  Temp
Tartibi
0        2021        33.9  1.54
1        2020        33.5  1.48
2        2019        32.9  1.56
3        2018        32.5  1.62
4        2017        31.9  1.65
5        2016        31.4  1.66
6        2015        30.9  1.64
7        2010        28.5  1.53

In [ ]:
df = pd.DataFrame(data, columns=['Yil', 'Temp', 'Aholi soni'])
df.head()

    Yil  Temp  Aholi soni
0  2021  1.54        33.9
1  2020  1.48        33.5
2  2019  1.56        32.9
3  2018  1.62        32.5
4  2017  1.65        31.9

In [ ]:
nf = pd.DataFrame(data, columns=['Yil', 'Temp', 'Aholi soni', 'YAIM'], index=["bir", 'ikki', 3,4,5,6,7,8])
nf.head()

       Yil  Temp  Aholi soni YAIM
bir   2021  1.54        33.9  NaN
ikki  2020  1.48        33.5  NaN
3     2019  1.56        32.9  NaN
4     2018  1.62        32.5  NaN
5     2017  1.65        31.9  NaN

In [ ]:
aholi = df['Aholi soni'] # Series ma'lumoti shaklida qaytaradi.
aholi

0    33.9
1    33.5
2    32.9
3    32.5
4    31.9
5    31.4
6    30.9
7    28.5
Name: Aholi soni, dtype: float64

In [ ]:
type(aholi)

pandas.core.series.Series

In [ ]:
YAIM = nf[['YAIM']] # dataframe shaklidagi ma'lumot
YAIM

     YAIM
bir   NaN
ikki  NaN
3     NaN
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN

In [ ]:
type(YAIM)

pandas.core.frame.DataFrame

In [ ]:
nf.YAIM

bir     NaN
ikki    NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
Name: YAIM, dtype: object

In [ ]:
nf['YAIM'] = 0 # ustundagi qiymatlarni o'zgartirish.
nf.YAIM

bir     0
ikki    0
3       0
4       0
5       0
6       0
7       0
8       0
Name: YAIM, dtype: int64

In [ ]:
nf

       Yil  Temp  Aholi soni  YAIM
bir   2021  1.54        33.9     0
ikki  2020  1.48        33.5     0
3     2019  1.56        32.9     0
4     2018  1.62        32.5     0
5     2017  1.65        31.9     0
6     2016  1.66        31.4     0
7     2015  1.64        30.9     0
8     2010  1.53        28.5     0

In [ ]:
df

    Yil  Temp  Aholi soni
0  2021  1.54        33.9
1  2020  1.48        33.5
2  2019  1.56        32.9
3  2018  1.62        32.5
4  2017  1.65        31.9
5  2016  1.66        31.4
6  2015  1.64        30.9
7  2010  1.53        28.5

In [ ]:
nf

       Yil  Temp  Aholi soni  YAIM
bir   2021  1.54        33.9     0
ikki  2020  1.48        33.5     0
3     2019  1.56        32.9     0
4     2018  1.62        32.5     0
5     2017  1.65        31.9     0
6     2016  1.66        31.4     0
7     2015  1.64        30.9     0
8     2010  1.53        28.5     0

In [ ]:
val = pd.Series([1700, 1500, 1600], index=[5,7,"bir"])
val

5      1700
7      1500
bir    1600
dtype: int64

In [ ]:
nf.YAIM = val
nf

       Yil  Temp  Aholi soni    YAIM
bir   2021  1.54        33.9  1600.0
ikki  2020  1.48        33.5     NaN
3     2019  1.56        32.9     NaN
4     2018  1.62        32.5     NaN
5     2017  1.65        31.9  1700.0
6     2016  1.66        31.4     NaN
7     2015  1.64        30.9  1500.0
8     2010  1.53        28.5     NaN

In [ ]:
val = [1700,  6147, 0, 8787, 45454, 6544, 8478,4945]
nf.YAIM = val
nf

       Yil  Temp  Aholi soni   YAIM
bir   2021  1.54        33.9   1700
ikki  2020  1.48        33.5   6147
3     2019  1.56        32.9      0
4     2018  1.62        32.5   8787
5     2017  1.65        31.9  45454
6     2016  1.66        31.4   6544
7     2015  1.64        30.9   8478
8     2010  1.53        28.5   4945

In [ ]:
nf['6000+'] = nf.YAIM>6000 # ustunlarni qo'shish
nf

       Yil  Temp  Aholi soni   YAIM  6000+
bir   2021  1.54        33.9   1700  False
ikki  2020  1.48        33.5   6147   True
3     2019  1.56        32.9      0  False
4     2018  1.62        32.5   8787   True
5     2017  1.65        31.9  45454   True
6     2016  1.66        31.4   6544   True
7     2015  1.64        30.9   8478   True
8     2010  1.53        28.5   4945  False

In [ ]:
nf.drop(['6000+'], axis=1) # ustunlarni o'chirib yuborish

       Yil  Temp  Aholi soni   YAIM
bir   2021  1.54        33.9   1700
ikki  2020  1.48        33.5   6147
3     2019  1.56        32.9      0
4     2018  1.62        32.5   8787
5     2017  1.65        31.9  45454
6     2016  1.66        31.4   6544
7     2015  1.64        30.9   8478
8     2010  1.53        28.5   4945

In [ ]:
del nf['YAIM']
nf

       Yil  Temp  Aholi soni  6000+
bir   2021  1.54        33.9  False
ikki  2020  1.48        33.5   True
3     2019  1.56        32.9  False
4     2018  1.62        32.5   True
5     2017  1.65        31.9   True
6     2016  1.66        31.4   True
7     2015  1.64        30.9   True
8     2010  1.53        28.5  False

In [ ]:
nf.drop(["ikki"]) # qatorlarni o'chiib yuborish.

      Yil  Temp  Aholi soni  6000+
bir  2021  1.54        33.9  False
3    2019  1.56        32.9  False
4    2018  1.62        32.5   True
5    2017  1.65        31.9   True
6    2016  1.66        31.4   True
7    2015  1.64        30.9   True
8    2010  1.53        28.5  False

In [ ]:
data = {
    "Uzbekistan":{2021:33.9, 2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9},
    "Kazakhstan":{2021:18.9, 2020:18.7, 2019:18.5,2018:18.3, 2017:18.1, 2016:17.8}
}
df = pd.DataFrame(data)
df

      Uzbekistan  Kazakhstan
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [ ]:
df.index.name  = 'Yil'

In [ ]:
df

      Uzbekistan  Kazakhstan
Yil
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [ ]:
df2 = pd.DataFrame(data, index=[2020, 2018])
df2

      Uzbekistan  Kazakhstan
2020        33.5        18.7
2018        32.5        18.3

In [ ]:
df.T # Ustunlar bn qatorlarni o'rnini almashtirish

Yil         2021  2020  2019  2018  2017  2016
Uzbekistan  33.9  33.5  32.9  32.5  31.9   NaN
Kazakhstan  18.9  18.7  18.5  18.3  18.1  17.8

In [ ]:
df

      Uzbekistan  Kazakhstan
Yil
2021        33.9        18.9
2020        33.5        18.7
2019        32.9        18.5
2018        32.5        18.3
2017        31.9        18.1
2016         NaN        17.8

In [ ]:
arr = df.values # Arrayga o'tkazish
arr

array([[33.9, 18.9],
       [33.5, 18.7],
       [32.9, 18.5],
       [32.5, 18.3],
       [31.9, 18.1],
       [ nan, 17.8]])

In [ ]:
df['Uzbekistan']

Yil
2021    33.9
2020    33.5
2019    32.9
2018    32.5
2017    31.9
2016     NaN
Name: Uzbekistan, dtype: float64

In [ ]:
nf

       Yil  Temp  Aholi soni  6000+
bir   2021  1.54        33.9  False
ikki  2020  1.48        33.5   True
3     2019  1.56        32.9  False
4     2018  1.62        32.5   True
5     2017  1.65        31.9   True
6     2016  1.66        31.4   True
7     2015  1.64        30.9   True
8     2010  1.53        28.5  False

In [ ]:
nf.index

Index(['bir', 'ikki', 3, 4, 5, 6, 7, 8], dtype='object')

In [ ]:
nf.columns

Index(['Yil', 'Temp', 'Aholi soni', '6000+'], dtype='object')

In [ ]:
df2

      Uzbekistan  Kazakhstan
2020        33.5        18.7
2018        32.5        18.3

In [ ]:
"Tajikstan" in df2.columns

False

In [ ]:
index_nf = nf.index
index_nf[2]

3

In [ ]:
username = {'anvar':'anvarbek223', 'olim':'olimtoy', 'maryam':'mary334455', 'javohir':'javohir445'}
emails = {'anvar':'anvar@gmail.com', 'olim':'olim@mail.ru', 'maryam':'mary33@gamil.com', 'javohir':'javohir445@gmail.com'}

data = {
    'username': username,
    'email':emails
}
df = pd.DataFrame(data)
df

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gamil.com
javohir   javohir445  javohir445@gmail.com

In [ ]:
df.index

Index(['anvar', 'olim', 'maryam', 'javohir'], dtype='object')

In [ ]:
df.index[1]

'olim'

In [ ]:
data2 = {
    'username': {'olim':"olimjon21", 'maryam':"maryam2020"},
    'email':{"olim":"olimjon21@gmail.ru", "maryam":"maryam20@gmail.com"}
}

df2 = df.append(pd.DataFrame(data2))
df2

            username                 email
anvar    anvarbek223       anvar@gmail.com
olim         olimtoy          olim@mail.ru
maryam    mary334455      mary33@gamil.com
javohir   javohir445  javohir445@gmail.com
olim       olimjon21    olimjon21@gmail.ru
maryam    maryam2020    maryam20@gmail.com

In [ ]:
newind = pd.Index(['olim', "nafisa", 'hamida'])
newind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

In [ ]:
newind.isin(df2.index)

array([ True, False, False])

In [ ]:
df2.index.difference(newind)

Index(['anvar', 'javohir', 'maryam'], dtype='object')

In [ ]:
newind.difference(df2)

Index(['hamida', 'nafisa', 'olim'], dtype='object')

In [ ]:
newind

Index(['olim', 'nafisa', 'hamida'], dtype='object')

In [ ]:
df2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [ ]:
union_in = df2.index.union(newind)

In [ ]:
union_in

Index(['anvar', 'hamida', 'javohir', 'maryam', 'maryam', 'nafisa', 'olim',
       'olim'],
      dtype='object')

In [ ]:
new = union_in.drop('anvar')
new

Index(['hamida', 'javohir', 'maryam', 'maryam', 'nafisa', 'olim', 'olim'], dtype='object')

In [ ]:
new.delete(0)

Index(['javohir', 'maryam', 'maryam', 'nafisa', 'olim', 'olim'], dtype='object')

In [ ]:
df2.index

Index(['anvar', 'olim', 'maryam', 'javohir', 'olim', 'maryam'], dtype='object')

In [ ]:
df2.index.is_unique

False

In [ ]:
df2.index.unique

In [ ]:
data = {'Yil':[2021, 2020, 2019, 2018, 2017, 2016, 2015, 2010],
        'Aholi soni': [33.9, 33.5, 32.9, 32.5, 31.9, 31.4, 30.9, 28.5],
        'Temp':[1.54, 1.48, 1.56, 1.62, 1.65, 1.66, 1.64, 1.53],
        'Zichlik':[79.77, 78.68, 77.53, 76.34, 75.13, 73.91, 72.71, 67.03]}
df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.68
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.34
4  2017        31.9  1.65    75.13
5  2016        31.4  1.66    73.91
6  2015        30.9  1.64    72.71
7  2010        28.5  1.53    67.03

In [ ]:
df.index = [21, 20, 19, 18, 17, 16, 15, 10]

In [ ]:
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

In [ ]:
# Reindex
ind = [21, 20, 19, 18, 17, 16, 15, 10]
ind.sort()
ind

[10, 15, 16, 17, 18, 19, 20, 21]

In [ ]:
df.reindex(ind)

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
15  2015        30.9  1.64    72.71
16  2016        31.4  1.66    73.91
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

In [ ]:
df.reindex([10, 15])

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
15  2015        30.9  1.64    72.71

In [ ]:
df.reindex(index=range(10, 22))

       Yil  Aholi soni  Temp  Zichlik
10  2010.0        28.5  1.53    67.03
11     NaN         NaN   NaN      NaN
12     NaN         NaN   NaN      NaN
13     NaN         NaN   NaN      NaN
14     NaN         NaN   NaN      NaN
15  2015.0        30.9  1.64    72.71
16  2016.0        31.4  1.66    73.91
17  2017.0        31.9  1.65    75.13
18  2018.0        32.5  1.62    76.34
19  2019.0        32.9  1.56    77.53
20  2020.0        33.5  1.48    78.68
21  2021.0        33.9  1.54    79.77

In [ ]:
df.reindex(index=range(10, 22), method="nearest")

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
11  2010        28.5  1.53    67.03
12  2010        28.5  1.53    67.03
13  2015        30.9  1.64    72.71
14  2015        30.9  1.64    72.71
15  2015        30.9  1.64    72.71
16  2016        31.4  1.66    73.91
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

In [ ]:
df.reindex(index=range(10, 22), method="ffill")

     Yil  Aholi soni  Temp  Zichlik
10  2010        28.5  1.53    67.03
11  2015        30.9  1.64    72.71
12  2015        30.9  1.64    72.71
13  2015        30.9  1.64    72.71
14  2015        30.9  1.64    72.71
15  2015        30.9  1.64    72.71
16  2016        31.4  1.66    73.91
17  2017        31.9  1.65    75.13
18  2018        32.5  1.62    76.34
19  2019        32.9  1.56    77.53
20  2020        33.5  1.48    78.68
21  2021        33.9  1.54    79.77

In [ ]:
df2 = df.reindex(columns=["Aholi soni", "Temp", "Zichlik"])
df2

    Aholi soni  Temp  Zichlik
21        33.9  1.54    79.77
20        33.5  1.48    78.68
19        32.9  1.56    77.53
18        32.5  1.62    76.34
17        31.9  1.65    75.13
16        31.4  1.66    73.91
15        30.9  1.64    72.71
10        28.5  1.53    67.03

In [ ]:
df2.loc[[18, 17, 10], ["Aholi soni", "Temp", 'Zichlik']]

    Aholi soni  Temp  Zichlik
18        32.5  1.62    76.34
17        31.9  1.65    75.13
10        28.5  1.53    67.03

In [ ]:
df2.sample(3)

    Aholi soni  Temp  Zichlik
16        31.4  1.66    73.91
21        33.9  1.54    79.77
18        32.5  1.62    76.34

In [ ]:
df2.drop([15, 20])

    Aholi soni  Temp  Zichlik
21        33.9  1.54    79.77
19        32.9  1.56    77.53
18        32.5  1.62    76.34
17        31.9  1.65    75.13
16        31.4  1.66    73.91
10        28.5  1.53    67.03

In [ ]:
df2.drop(10, axis=0) # qatorlarni tashlab yuborish.

    Aholi soni  Temp  Zichlik
21        33.9  1.54    79.77
20        33.5  1.48    78.68
19        32.9  1.56    77.53
18        32.5  1.62    76.34
17        31.9  1.65    75.13
16        31.4  1.66    73.91
15        30.9  1.64    72.71

In [ ]:
df2.drop(['Temp', 'Zichlik'], axis=1) # columnlarni tashla yuborish

    Aholi soni
21        33.9
20        33.5
19        32.9
18        32.5
17        31.9
16        31.4
15        30.9
10        28.5

In [ ]:
df

     Yil  Aholi soni  Temp  Zichlik
21  2021        33.9  1.54    79.77
20  2020        33.5  1.48    78.68
19  2019        32.9  1.56    77.53
18  2018        32.5  1.62    76.34
17  2017        31.9  1.65    75.13
16  2016        31.4  1.66    73.91
15  2015        30.9  1.64    72.71
10  2010        28.5  1.53    67.03

In [ ]:
df.drop("Yil", axis=1, inplace=True)

In [ ]:
df

    Aholi soni  Temp  Zichlik
21        33.9  1.54    79.77
20        33.5  1.48    78.68
19        32.9  1.56    77.53
18        32.5  1.62    76.34
17        31.9  1.65    75.13
16        31.4  1.66    73.91
15        30.9  1.64    72.71
10        28.5  1.53    67.03

In [ ]:
data = df['Aholi soni']
data

21    33.9
20    33.5
19    32.9
18    32.5
17    31.9
16    31.4
15    30.9
10    28.5
Name: Aholi soni, dtype: float64

In [ ]:
df[['Aholi soni']]

    Aholi soni
21        33.9
20        33.5
19        32.9
18        32.5
17        31.9
16        31.4
15        30.9
10        28.5

In [ ]:
data[21]

33.9

In [ ]:
type(data)

pandas.core.series.Series

In [ ]:
data[[21]]

21    33.9
Name: Aholi soni, dtype: float64

In [ ]:
obj = pd.Series(np.arange(8.), index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [ ]:
obj[0:4]

a    0.0
b    1.0
c    2.0
d    3.0
dtype: float64

In [ ]:
obj[['a','c']]

a    0.0
c    2.0
dtype: float64

In [ ]:
obj['a':'c'] = 15

In [ ]:
obj

a    15.0
b    15.0
c    15.0
d     3.0
e     4.0
f     5.0
g     6.0
h     7.0
dtype: float64

In [ ]:
obj[obj<15]

d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [ ]:
uz = {2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9, 2016:31.4, 2015:30.9}
kz = {2020:18.8, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8, 2015:17.6}
tj = {2020:9.5, 2019:9.3, 2018:9.1, 2017:8.9, 2016:8.7, 2015:8.5}
kg = {2020:6.5, 2019:6.4, 2018:6.3, 2017:6.2, 2016:6.1, 2015:6.0}
tr = {2020:6.0, 2019:5.9, 2018:5.9, 2017:5.8, 2016:5.6, 2015:5.6}


df = pd.DataFrame(
    {"Uzbekistan":uz,
     'Kazakhstan':kz,
     "Tajikistan":tj,
     "kyrgizstan":kg,
     "Turkmanistan":tr
    
})
df

      Uzbekistan  Kazakhstan  Tajikistan  kyrgizstan  Turkmanistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [ ]:
df['Uzbekistan'] # Series ko'rinishda beradi.

2020    33.5
2019    32.9
2018    32.5
2017    31.9
2016    31.4
2015    30.9
Name: Uzbekistan, dtype: float64

In [ ]:
df[["Uzbekistan"]] # DataFrame ko'rinishida qaytaradi.

      Uzbekistan
2020        33.5
2019        32.9
2018        32.5
2017        31.9
2016        31.4
2015        30.9

In [ ]:
df[['Uzbekistan', 'Turkmanistan']].to_numpy() # array ko'rinishiga o'tadi.

array([[33.5,  6. ],
       [32.9,  5.9],
       [32.5,  5.9],
       [31.9,  5.8],
       [31.4,  5.6],
       [30.9,  5.6]])

In [ ]:
df[["Uzbekistan", 'Turkmanistan']]

      Uzbekistan  Turkmanistan
2020        33.5           6.0
2019        32.9           5.9
2018        32.5           5.9
2017        31.9           5.8
2016        31.4           5.6
2015        30.9           5.6

In [ ]:
df>7

      Uzbekistan  Kazakhstan  Tajikistan  kyrgizstan  Turkmanistan
2020        True        True        True       False         False
2019        True        True        True       False         False
2018        True        True        True       False         False
2017        True        True        True       False         False
2016        True        True        True       False         False
2015        True        True        True       False         False

In [ ]:
df.loc[[2020, 2019]]

      Uzbekistan  Kazakhstan  Tajikistan  kyrgizstan  Turkmanistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9

In [ ]:
df[["Uzbekistan"]][["Uzbekistan"]] > 32 #df[["Uzbekistan"]][df["Uzbekistan"] > 32]

      Uzbekistan
2020        True
2019        True
2018        True
2017       False
2016       False
2015       False

In [ ]:
df2 = df[["Uzbekistan"]]

In [ ]:
df2['Uzbekistan'] >32

2020     True
2019     True
2018     True
2017    False
2016    False
2015    False
Name: Uzbekistan, dtype: bool

In [ ]:
df

      Uzbekistan  Kazakhstan  Tajikistan  kyrgizstan  Turkmanistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [ ]:
df3 = df.transpose(copy=True)

In [ ]:
df3

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan     9.5   9.3   9.1   8.9   8.7   8.5
kyrgizstan     6.5   6.4   6.3   6.2   6.1   6.0
Turkmanistan   6.0   5.9   5.9   5.8   5.6   5.6

In [ ]:
df3[df3[2015]>6]

            2020  2019  2018  2017  2016  2015
Uzbekistan  33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan  18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan   9.5   9.3   9.1   8.9   8.7   8.5

In [ ]:
df

      Uzbekistan  Kazakhstan  Tajikistan  kyrgizstan  Turkmanistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [ ]:
df.loc[[2017]] # istalgan qatorni chiqarish indeksi yordamida

      Uzbekistan  Kazakhstan  Tajikistan  kyrgizstan  Turkmanistan
2017        31.9        18.1         8.9         6.2           5.8

In [ ]:
df.loc[[2015, 2017], ["Uzbekistan", 'Tajikistan']] # istalgan qatorni chiqarish indeksi yordamida

      Uzbekistan  Tajikistan
2015        30.9         8.5
2017        31.9         8.9

In [ ]:
df.iloc[[1,3]] # istalgan qatorni indeks tartib nomeri orqali chiqarish

      Uzbekistan  Kazakhstan  Tajikistan  kyrgizstan  Turkmanistan
2019        32.9        18.5         9.3         6.4           5.9
2017        31.9        18.1         8.9         6.2           5.8

In [ ]:
df.iloc[[1,3], [0,3]] # istalgan qatorni indeks tartib nomeri orqali chiqarish

      Uzbekistan  kyrgizstan
2019        32.9         6.4
2017        31.9         6.2

In [ ]:
df.at[2015, "Uzbekistan" ] # istalgan qatordagi datani chiqarish

30.9

In [ ]:
df

      Uzbekistan  Kazakhstan  Tajikistan  kyrgizstan  Turkmanistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [ ]:
df.iat[2, 3]  # istalgan qatordagi datani indeks tartib nomeri chiqarish

6.3

In [ ]:
list_1 = list(range(10,21))

In [ ]:
list_1 = np.arange(10,21)
list_1

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [ ]:
list_1[-1]

20

In [ ]:
obj = pd.Series(np.arange(10.))
obj

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [ ]:
obj[0]

0.0

In [ ]:
obj.iloc[-1]

9.0

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s1 = pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2 = pd.Series([-2.1, 3.6, -1.5, 4 , 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [ ]:
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [ ]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [ ]:
s2+s1

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [ ]:
df1 = pd.DataFrame(np.arange(9.).reshape(3,3), columns=list('bcd'), index=['olma', 'Anor', 'Uzum'])
df2 = pd.DataFrame(np.arange(12.).reshape(4,3), columns=list('abc'), index=['olma', 'Anor', 'Qovun', 'Anjir'])

In [ ]:
df1

        b    c    d
olma  0.0  1.0  2.0
Anor  3.0  4.0  5.0
Uzum  6.0  7.0  8.0

In [ ]:
df2

         a     b     c
olma   0.0   1.0   2.0
Anor   3.0   4.0   5.0
Qovun  6.0   7.0   8.0
Anjir  9.0  10.0  11.0

In [ ]:
df1+df2

        a    b    c   d
Anjir NaN  NaN  NaN NaN
Anor  NaN  7.0  9.0 NaN
Qovun NaN  NaN  NaN NaN
Uzum  NaN  NaN  NaN NaN
olma  NaN  1.0  3.0 NaN

In [ ]:
df1.add(df2, fill_value=0) #fill_value bittasida nan qiymat bo'lsa 0 qoyib xisoblaydi. agar ikkalasida ham yoq bo'lsa nan qiymat qaytaradi.

         a     b     c    d
Anjir  9.0  10.0  11.0  NaN
Anor   3.0   7.0   9.0  5.0
Qovun  6.0   7.0   8.0  NaN
Uzum   NaN   6.0   7.0  8.0
olma   0.0   1.0   3.0  2.0

In [ ]:
df1.sub(df2, fill_value=0)

         a     b     c    d
Anjir -9.0 -10.0 -11.0  NaN
Anor  -3.0  -1.0  -1.0  5.0
Qovun -6.0  -7.0  -8.0  NaN
Uzum   NaN   6.0   7.0  8.0
olma   0.0  -1.0  -1.0  2.0

In [ ]:
df1.rsub(df2, fill_value=0) #df2-df1 ni ayrish amali

         a     b     c    d
Anjir  9.0  10.0  11.0  NaN
Anor   3.0   1.0   1.0 -5.0
Qovun  6.0   7.0   8.0  NaN
Uzum   NaN  -6.0  -7.0 -8.0
olma   0.0   1.0   1.0 -2.0

In [ ]:
df2.rsub(df1, fill_value=0)

         a     b     c    d
Anjir -9.0 -10.0 -11.0  NaN
Anor  -3.0  -1.0  -1.0  5.0
Qovun -6.0  -7.0  -8.0  NaN
Uzum   NaN   6.0   7.0  8.0
olma   0.0  -1.0  -1.0  2.0

In [ ]:
df1.div(df2)

        a     b    c   d
Anjir NaN   NaN  NaN NaN
Anor  NaN  0.75  0.8 NaN
Qovun NaN   NaN  NaN NaN
Uzum  NaN   NaN  NaN NaN
olma  NaN  0.00  0.5 NaN

In [ ]:
df2.rdiv(df1)

        a     b    c   d
Anjir NaN   NaN  NaN NaN
Anor  NaN  0.75  0.8 NaN
Qovun NaN   NaN  NaN NaN
Uzum  NaN   NaN  NaN NaN
olma  NaN  0.00  0.5 NaN

In [ ]:
df = pd.DataFrame(np.arange(1, 13).reshape(3,4), index=list('abc'), columns=['olma', 'anor', 'qovun', 'anjir'])
obj = pd.Series([1,1,2,2], index=df.columns)

In [ ]:
df

   olma  anor  qovun  anjir
a     1     2      3      4
b     5     6      7      8
c     9    10     11     12

In [ ]:
obj

olma     1
anor     1
qovun    2
anjir    2
dtype: int64

In [ ]:
df+obj

   olma  anor  qovun  anjir
a     2     3      5      6
b     6     7      9     10
c    10    11     13     14

In [ ]:
obj2 = pd.Series([2,3,1], index=["olma", "Uzum", 'qovun'])

In [ ]:
obj2

olma     2
Uzum     3
qovun    1
dtype: int64

In [ ]:
df

   olma  anor  qovun  anjir
a     1     2      3      4
b     5     6      7      8
c     9    10     11     12

In [ ]:
df.sub(obj2)

   Uzum  anjir  anor  olma  qovun
a   NaN    NaN   NaN  -1.0    2.0
b   NaN    NaN   NaN   3.0    6.0
c   NaN    NaN   NaN   7.0   10.0

In [ ]:
obj['olma']

1

In [ ]:
df + obj['olma']

   olma  anor  qovun  anjir
a     2     3      4      5
b     6     7      8      9
c    10    11     12     13

In [ ]:
df = pd.DataFrame(np.random.randn(3,4), index=list('abs'), columns=['olma',"Anor", "Qovun", "Anjir"])
df

       olma      Anor     Qovun     Anjir
a  1.121981 -0.825977 -0.782149  2.121551
b  0.724257 -0.054010 -1.619834 -0.824194
s  1.550317 -1.428919 -0.335053 -0.741455

In [ ]:
np.abs(df) # abs absolut qiymatlarni qaytaradi.

       olma      Anor     Qovun     Anjir
a  1.121981  0.825977  0.782149  2.121551
b  0.724257  0.054010  1.619834  0.824194
s  1.550317  1.428919  0.335053  0.741455

In [ ]:
np.round(df) # round butun qiymatini oladi.

   olma  Anor  Qovun  Anjir
a   1.0  -1.0   -1.0    2.0
b   1.0  -0.0   -2.0   -1.0
s   2.0  -1.0   -0.0   -1.0

In [ ]:
df.mean() #mean o'rtacha qiyamatini qaytaradi.

olma     1.132185
Anor    -0.769635
Qovun   -0.912345
Anjir    0.185301
dtype: float64

In [ ]:
(1.121981+0.724257+1.550317)/3

1.132185

In [ ]:
df.mean(axis=1)

a    0.408852
b   -0.443445
s   -0.238778
dtype: float64

In [ ]:
df.apply(np.abs)

       olma      Anor     Qovun     Anjir
a  1.121981  0.825977  0.782149  2.121551
b  0.724257  0.054010  1.619834  0.824194
s  1.550317  1.428919  0.335053  0.741455

In [ ]:
df.apply(sum, axis=1)

a    1.635407
b   -1.773781
s   -0.955111
dtype: float64

In [ ]:
df.apply(sum)

olma     3.396555
Anor    -2.308906
Qovun   -2.737036
Anjir    0.555902
dtype: float64

In [ ]:
f = lambda x: x.max() - x.min()

In [ ]:
df.apply(f)

olma     0.826060
Anor     1.374909
Qovun    1.284781
Anjir    2.945745
dtype: float64

In [ ]:
df.apply(f, axis=1) #apply datadagi ustun or qatorlar boyich xisoblaydi

a    2.947528
b    2.344091
s    2.979236
dtype: float64

In [ ]:
def foo(x):
  return pd.Series([x.min(), x.max()], index=['min', 'max'])

df.apply(foo)

         olma      Anor     Qovun     Anjir
min  0.724257 -1.428919 -1.619834 -0.824194
max  1.550317 -0.054010 -0.335053  2.121551

In [ ]:
df3 = pd.DataFrame(np.arange(1,13).reshape(3,4), index=list('abc'), columns=['Olma', 'Anor', 'Qovun', 'Anjir'])

In [ ]:
df3

   Olma  Anor  Qovun  Anjir
a     1     2      3      4
b     5     6      7      8
c     9    10     11     12

In [ ]:
df3.applymap(lambda x: x*x) #applymap datani xar bir elementiga murojat qiladi.

   Olma  Anor  Qovun  Anjir
a     1     4      9     16
b    25    36     49     64
c    81   100    121    144

In [ ]:
df = pd.Series(range(4), index=['d', 'a', 'c', 'b'])
df

d    0
a    1
c    2
b    3
dtype: int64

In [ ]:
df2 = pd.DataFrame(range(4), index=['d', 'a', 'c', 'b'])
df2

   0
d  0
a  1
c  2
b  3

In [ ]:
df.sort_index()

a    1
b    3
c    2
d    0
dtype: int64

In [ ]:
df2.sort_index()

   0
a  1
b  3
c  2
d  0

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv', index_col=0)
df

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [ ]:
df.sort_index(axis=1)

,brand,color,condition,country,lot,mileage,model,price,state,title_status,vin,year
0,toyota,black,10 days left,usa,159348797,274117,cruiser,6300,new jersey,clean vehicle,jtezu11f88k007763,2008
1,ford,silver,6 days left,usa,166951262,190552,se,2899,tennessee,clean vehicle,2fmdk3gc4bbb02217,2011
2,dodge,silver,2 days left,usa,167655728,39590,mpv,5350,georgia,clean vehicle,3c4pdcgg5jt346413,2018
3,ford,blue,22 hours left,usa,167753855,64146,door,25000,virginia,clean vehicle,1ftfw1et4efc23745,2014
4,chevrolet,red,22 hours left,usa,167763266,6654,1500,27700,florida,clean vehicle,3gcpcrec2jg473991,2018
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,nissan,red,1 days left,usa,167722715,23609,versa,7800,california,clean vehicle,3n1cn7ap9kl880319,2019
2495,nissan,silver,21 hours left,usa,167762225,34553,versa,9200,florida,clean vehicle,3n1cn7ap5jl884088,2018
2496,nissan,silver,21 hours left,usa,167762226,31594,versa,9200,florida,clean vehicle,3n1cn7ap9jl884191,2018
2497,nissan,black,2 days left,usa,167762227,32557,versa,9200,florida,clean vehicle,3n1cn7ap3jl883263,2018
2498,nissan,silver,21 hours left,usa,167762228,31371,versa,9200,florida,clean vehicle,3n1cn7ap4jl884311,2018

In [ ]:
df.sort_index(ascending=False, axis=1) #sort_index() index bo'yicha tartiblaydi

,year,vin,title_status,state,price,model,mileage,lot,country,condition,color,brand
0,2008,jtezu11f88k007763,clean vehicle,new jersey,6300,cruiser,274117,159348797,usa,10 days left,black,toyota
1,2011,2fmdk3gc4bbb02217,clean vehicle,tennessee,2899,se,190552,166951262,usa,6 days left,silver,ford
2,2018,3c4pdcgg5jt346413,clean vehicle,georgia,5350,mpv,39590,167655728,usa,2 days left,silver,dodge
3,2014,1ftfw1et4efc23745,clean vehicle,virginia,25000,door,64146,167753855,usa,22 hours left,blue,ford
4,2018,3gcpcrec2jg473991,clean vehicle,florida,27700,1500,6654,167763266,usa,22 hours left,red,chevrolet
...,...,...,...,...,...,...,...,...,...,...,...,...
2494,2019,3n1cn7ap9kl880319,clean vehicle,california,7800,versa,23609,167722715,usa,1 days left,red,nissan
2495,2018,3n1cn7ap5jl884088,clean vehicle,florida,9200,versa,34553,167762225,usa,21 hours left,silver,nissan
2496,2018,3n1cn7ap9jl884191,clean vehicle,florida,9200,versa,31594,167762226,usa,21 hours left,silver,nissan
2497,2018,3n1cn7ap3jl883263,clean vehicle,florida,9200,versa,32557,167762227,usa,2 days left,black,nissan
2498,2018,3n1cn7ap4jl884311,clean vehicle,florida,9200,versa,31371,167762228,usa,21 hours left,silver,nissan

In [ ]:
df.sort_values(by='year')

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
32,29800,chevrolet,camaro,1973,clean vehicle,46226,red,1q87t3n166389,167763370,pennsylvania,usa,22 hours left
405,25,ford,door,1984,salvage insurance,41577,white,2ftcf15y9eca14589,167611661,arkansas,usa,17 hours left
545,0,gmc,door,1993,salvage insurance,0,light blue,1gkfk16k5pj701631,167358601,colorado,usa,18 hours left
362,25,ford,pickup,1994,salvage insurance,206162,white,1ftdf15y2rnb12612,167361489,georgia,usa,2 days left
322,0,ford,chassis,1994,salvage insurance,0,green,1fdee14n7rha47894,167359174,california,usa,19 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...
426,55600,lexus,gx,2020,clean vehicle,8186,silver,jtjam7bx4l5251250,167605747,florida,usa,2 days left
806,28300,chevrolet,colorado,2020,clean vehicle,13886,silver,1gcgtcen7l1101496,167805497,indiana,usa,2 days left
2322,15000,nissan,altima,2020,clean vehicle,14320,blue,1n4bl4cv4lc134145,167656212,ohio,usa,2 days left
2344,20100,nissan,rogue,2020,clean vehicle,10875,blue,jn8at2mvxlw103235,167614842,minnesota,usa,14 hours left
1388,17000,ford,fusion,2020,clean vehicle,1117,gray,3fa6p0d98lr194138,167742945,pennsylvania,usa,2 days left

In [ ]:
df.sort_values(['country', 'brand']) # dastlab country keyin brand bo'yicha tartiblaydi.

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
261,33000,chevrolet,1500,2018,clean vehicle,52521,white,3gcukreh0jg303596,167766786,ontario,canada,10 days left
813,30000,dodge,charger,2019,clean vehicle,43294,white,2c3cdxjg2kh630921,167766742,ontario,canada,10 days left
814,30000,dodge,charger,2019,clean vehicle,54309,orange,2c3cdxjg0kh682158,167766743,ontario,canada,10 days left
815,30000,dodge,charger,2019,clean vehicle,52822,white,2c3cdxjg2kh658962,167766751,ontario,canada,10 days left
816,30000,dodge,charger,2019,clean vehicle,45554,white,2c3cdxjg1kh630912,167766757,ontario,canada,10 days left
...,...,...,...,...,...,...,...,...,...,...,...,...
504,100,peterbilt,truck,2012,salvage insurance,0,blue,1xp4d49x1cd144875,167529787,florida,usa,17 hours left
516,0,peterbilt,truck,2009,salvage insurance,982486,blue,1xp7d49x09d784257,167529788,florida,usa,17 hours left
528,1025,peterbilt,truck,2010,salvage insurance,1017936,color:,1xp7d49x0ad793710,167529842,georgia,usa,17 hours left
505,11050,ram,door,2017,clean vehicle,30421,white,1c6rr7pt3hs659994,167668548,new jersey,usa,17 hours left
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left

In [ ]:
df['rank'] = df['year'].rank(method="average")
df.sort_values('year')

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
32,29800,chevrolet,camaro,1973,clean vehicle,46226,red,1q87t3n166389,167763370,pennsylvania,usa,22 hours left,1.0
405,25,ford,door,1984,salvage insurance,41577,white,2ftcf15y9eca14589,167611661,arkansas,usa,17 hours left,2.0
545,0,gmc,door,1993,salvage insurance,0,light blue,1gkfk16k5pj701631,167358601,colorado,usa,18 hours left,3.0
362,25,ford,pickup,1994,salvage insurance,206162,white,1ftdf15y2rnb12612,167361489,georgia,usa,2 days left,4.5
322,0,ford,chassis,1994,salvage insurance,0,green,1fdee14n7rha47894,167359174,california,usa,19 hours left,4.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,55600,lexus,gx,2020,clean vehicle,8186,silver,jtjam7bx4l5251250,167605747,florida,usa,2 days left,2475.5
806,28300,chevrolet,colorado,2020,clean vehicle,13886,silver,1gcgtcen7l1101496,167805497,indiana,usa,2 days left,2475.5
2322,15000,nissan,altima,2020,clean vehicle,14320,blue,1n4bl4cv4lc134145,167656212,ohio,usa,2 days left,2475.5
2344,20100,nissan,rogue,2020,clean vehicle,10875,blue,jn8at2mvxlw103235,167614842,minnesota,usa,14 hours left,2475.5
1388,17000,ford,fusion,2020,clean vehicle,1117,gray,3fa6p0d98lr194138,167742945,pennsylvania,usa,2 days left,2475.5

In [ ]:
df['rank'] = df['price'].rank(method="max")
df.sort_values('price')

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
410,0,chevrolet,door,1995,salvage insurance,274706,green,2gcec19h8s1195266,167425634,arizona,usa,2 days left,43.0
330,0,ford,door,1996,salvage insurance,296860,green,1falp62w5th144314,167359712,california,usa,19 hours left,43.0
331,0,ford,door,2006,salvage insurance,203158,red,1fmzk04136ga07119,167610991,illinois,usa,17 hours left,43.0
339,0,ford,door,2002,salvage insurance,214800,black,3fafp37372r151014,167360232,south carolina,usa,2 days left,43.0
496,0,ford,pickup,1996,salvage insurance,252588,red,1ftef15n0tlc14455,167357804,oklahoma,usa,17 hours left,43.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,65500,ford,srw,2019,clean vehicle,6500,black,1ft7w2bt0kec44818,167718954,indiana,usa,21 hours left,2495.0
277,67000,dodge,challenger,2019,clean vehicle,10944,blue,2c3cdzl97kh518237,167759490,ohio,usa,21 hours left,2496.0
1336,70000,ford,drw,2019,clean vehicle,9643,no_color,1ft8w3dt3kee48276,167780680,illinois,usa,2 days left,2497.0
1340,74000,ford,drw,2019,clean vehicle,10536,no_color,1ft8w4dt6ked32656,167780682,illinois,usa,2 days left,2498.0
502,84900,mercedes-benz,sl-class,2017,clean vehicle,25302,silver,wddjk7ea3hf044968,167607883,florida,usa,2 days left,2499.0

In [ ]:
df['rank'] = df['mileage'].rank(method="min")
df.sort_values('mileage')

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
545,0,gmc,door,1993,salvage insurance,0,light blue,1gkfk16k5pj701631,167358601,colorado,usa,18 hours left,1.0
504,100,peterbilt,truck,2012,salvage insurance,0,blue,1xp4d49x1cd144875,167529787,florida,usa,17 hours left,1.0
1619,650,ford,door,2017,salvage insurance,0,black,1fadp3k21hl268441,167651911,california,usa,2 days left,1.0
309,0,chevrolet,door,2004,salvage insurance,0,maroon,3gnek12t74g240524,167418651,wyoming,usa,18 hours left,1.0
1236,4200,ford,door,2013,clean vehicle,0,no_color,1fadp3j23dl155179,167773673,pennsylvania,usa,2 days left,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,2000,chevrolet,pickup,2003,clean vehicle,507985,red,1gcgc24u53z128586,167781223,wisconsin,usa,21 hours left,2495.0
490,475,peterbilt,truck,2012,salvage insurance,902041,gold,1xp4d49x9cd123630,167529786,florida,usa,17 hours left,2496.0
516,0,peterbilt,truck,2009,salvage insurance,982486,blue,1xp7d49x09d784257,167529788,florida,usa,17 hours left,2497.0
1827,3200,ford,door,2013,clean vehicle,999999,silver,1fadp3k21dl266148,167727773,south carolina,usa,21 hours left,2498.0
528,1025,peterbilt,truck,2010,salvage insurance,1017936,color:,1xp7d49x0ad793710,167529842,georgia,usa,17 hours left,2499.0

In [ ]:
df['rank'] = df['mileage'].rank(method="average")
df.sort_values('mileage')

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
545,0,gmc,door,1993,salvage insurance,0,light blue,1gkfk16k5pj701631,167358601,colorado,usa,18 hours left,3.5
504,100,peterbilt,truck,2012,salvage insurance,0,blue,1xp4d49x1cd144875,167529787,florida,usa,17 hours left,3.5
1619,650,ford,door,2017,salvage insurance,0,black,1fadp3k21hl268441,167651911,california,usa,2 days left,3.5
309,0,chevrolet,door,2004,salvage insurance,0,maroon,3gnek12t74g240524,167418651,wyoming,usa,18 hours left,3.5
1236,4200,ford,door,2013,clean vehicle,0,no_color,1fadp3j23dl155179,167773673,pennsylvania,usa,2 days left,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
531,2000,chevrolet,pickup,2003,clean vehicle,507985,red,1gcgc24u53z128586,167781223,wisconsin,usa,21 hours left,2495.0
490,475,peterbilt,truck,2012,salvage insurance,902041,gold,1xp4d49x9cd123630,167529786,florida,usa,17 hours left,2496.0
516,0,peterbilt,truck,2009,salvage insurance,982486,blue,1xp7d49x09d784257,167529788,florida,usa,17 hours left,2497.0
1827,3200,ford,door,2013,clean vehicle,999999,silver,1fadp3k21dl266148,167727773,south carolina,usa,21 hours left,2498.0
528,1025,peterbilt,truck,2010,salvage insurance,1017936,color:,1xp7d49x0ad793710,167529842,georgia,usa,17 hours left,2499.0